{% load static%}
{% load i18n %}
{% load crispy %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title> TrustedUX - eSurvey</title>
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <!-- Bootstrap core CSS -->
  <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="{% static 'popper.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <link href="{% static 'bs-step.css' %}" rel="stylesheet">

  <style>
  .custom-radio-list {
      list-style-type: none;
      padding: 0;
      margin: 0;
  }
    .form-inline {
        display: inline-block;
    }
    .navbar {
    		color: #fff;
    		background: #926dde;
    		padding: 5px 16px;
    		border-radius: 0;
    		border: none;
    		box-shadow: 0 0 4px rgba(0,0,0,.1);
    	}

    	.navbar .divider {
    		background-color: #e9ecef !important;
    	}
</style>
</head>

<body>

  <nav class="navbar navbar-expand-xl navbar-dark">
    <div class='container'>

  		<a class="navbar-brand" href="{% url 'home'%}"><i class="fa fa-cube"></i> Trusted<b>UX</b> - eSurvey Platform</a>
  		<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggler">
  			<span class="navbar-toggler-icon"></span>

  		</button>

  	<!-- Collection of nav links, forms, and other content for toggling -->

  </div>
  </nav>




  <!-- Page Content -->
  <div class="container">
      <br/>

    <h2> {% block title%} {%endblock%} </h2>

    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'error'%}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {%endif%}
{% endfor %}
{% endif %}

    <form method='post'>
    {%csrf_token%}
    {{form:crispy}}
     <input type='submit' value='Submit'>
    </form>
    <br/>
  </div>
</div>
  </div>

<br/>
<br/>
<br/>

  <!-- Bootstrap core JavaScript -->


  	<!-- ./Footer -->
</body>

</html>
