{% extends "base_teacher.html" %}

{%block title%} Sessions {%endblock%}
{%block content%}



<div style="height:100%">
{% if sessions.count == 0 %}
<!--
  <iframe id="demo" onload='autoResizeDiv()'  style="width:100%; height: 100%; position:relative; overflow:hidden; " frameBorder='0' src="http://localhost:9001" allowfullscreen>
  </iframe>
-->

<div class='text-center card'>
 <div class='card-header'>  <h4> No sessions </h4> </div>
 <div class='card-body'>  <p> You do not have any sessions.<br/><br/>
  <a href="{% url 'create_session'%}" class='btn btn-warning'><i class='fa fa-add'></i> Create Session </a></p>
 </div>
</div>
<br/>
{% else %}
<div class='row'>
  <div class="col col-md-3 col-lg-3 col-sm-6">
<select class='form-control' onchange="location = this.value;">
 <option value="{% url 'project_filter' 'all'%}"">All studies</option>
 <option value="{% url 'project_filter' 'running'%}">Active</option>
 <option value="{% url 'project_filter' 'archived'%}">Archived</option>
</select>
 </div>
 <div class='col col-md-2 col-lg-2 col-sm-6'>
   <a href="{% url 'create_session'%}" class="btn btn-success ml-auto"  > New session </a>

 </div>
</div>
<br/><br/>
 <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Session</th>
      <th scope="col">#Groups</th>
      <th scope="col">Status</th>
      <th scope="col">Created</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>



 {% for session in sessions%}
 <tr>
   <th><a href="{% url 'session_page' session.id %}" target='_blank'>{{session.name}}</a></th>
   <td>{{session.groups}}</td>
   <td>{{session.status}}</td>
   <td>{{session.created_at}}</td>
   <td><button class='btn btn-success'> Start </button> <button class='btn btn-danger' disabled> End </button> <button class='btn btn-info' disabled> Dashboard</button>   </td>
 </tr>
 {% endfor%}
 </tbody>
 </table>
 {% endif %}
</div>
<br/>

{%endblock %}
