
{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Create Project{% endblock %}



{% block content %}

<div class="row">
    <div class="col">
      <div class="multisteps-form__progress">
        {% if wizard.steps.step1 >= 1 %}
        <button id='b1' class="multisteps-form__progress-btn js-active" type="button" title="User Info">Questionnaire type</button>
        {% else %}
        <button id='b2' class="multisteps-form__progress-btn" type="button" title="Address">Questionnaire type</button>
        {% endif %}

        {% if wizard.steps.step1 >= 2 %}
        <button id='b2' class="multisteps-form__progress-btn js-active" type="button" title="Address">Project settings</button>
        {% else %}
        <button id='b2' class="multisteps-form__progress-btn" type="button" title="Address">Project settings</button>
        {% endif %}
        {% if wizard.steps.step1 >= 3 %}
        <button id='b3' class="multisteps-form__progress-btn js-active" type="button" title="Order Info">Participants</button>
        {% else %}
        <button id='b2' class="multisteps-form__progress-btn" type="button" title="Address">Participants</button>
        {% endif %}

        {% if wizard.steps.step1 >= 4 %}
        <button id='b4' class="multisteps-form__progress-btn js-active" type="button" title="Comments">Edit questionnaire</button>
        {% else %}
        <button id='b2' class="multisteps-form__progress-btn" type="button" title="Address">Edit questionnaire</button>
        {% endif %}
        {% if wizard.steps.step1 >= 5 %}
        <button id='b5' class="multisteps-form__progress-btn js-active" type="button" title="Comments">Project overview</button>
        {% else %}

        <button id='b2' class="multisteps-form__progress-btn" type="button" title="Address">Project overview</button>
        {% endif %}
      </div>
    </div>
  </div>



<br/>
<form action="" method="post">{% csrf_token %}






<div class="card">
  <div class="card-header">
    Activate Project
  </div>
  <div class="card-body">
    {{ wizard.management_form }}
    {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
            {% for field in form %}
              {{field}}
            {%endfor%}
        {% endfor %}
    {% else %}
      {% for field in form %}
        {{field}}
      {%endfor%}
    {% endif %}

  </div>
</div> <br/>
<div class='card'>
  <div class="card-header">
    Project
  </div>
  <div class="card-body">
    <p class="card-text"><b>Questionnaire:</b> {{all_data.type_questionnaire}}</p>
    <p class="card-text"><b>Project name:</b> {{all_data.project_name}}</p>
    <p class="card-text"><b>Project type:</b> {{all_data.project_type}}</p>
  </div>
</div> <br/>
<div class="card">
  <div class="card-header">
    Survey
  </div>
  <div class="card-body">
    <p class="card-text"><b>Start date:</b> {{all_data.start_date}}</p>
    <p class="card-text"><b>End date:</b> {{all_data.end_date}}</p>
    <p class="card-text"><b>Name of survey:</b> {{all_data.name_of_survey}}</p>
    <p class="card-text"><b>Product name:</b> {{all_data.product_name}}</p>
    <p class="card-text"><b>Product industry:</b> {{all_data.product_industry}}</p>
    <p class="card-text"><b>Product type:</b> {{all_data.product_type}}</p>
  </div>
</div>
<br/>
<div class="card">
  <div class="card-header">
 Project Front page
  </div>
  <div class="card-body">
    <p class="card-text"><b>Title:</b> {{all_data.title}}</p>
    <p class="card-text"><b>Subtitle:</b> {{all_data.subtitle}}</p>
    <p class="card-text"><b>Paragraph:</b> {{all_data.paragraph}}</p>

  </div>
</div>


<br/>


{% if wizard.steps.prev %}

<button class='btn btn-warning' name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Back</button>
{% endif %}
{% if wizard.steps.step1 == 5 %}
<input class='btn btn-success' type="submit" value="Save"/>
{% else %}
<input class='btn btn-success' type="submit" value="Continue"/>
{%endif%}
<a class='btn btn-danger' href="{% url 'project_home'%}">{% trans "Cancel" %} </a>
<br/>

</form>

</div>
{% endblock %}
