
{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %} {% endblock %}

{% block content %}
<h2>{{session.name | upper}}</h2>
<h4>Access Pin: {{session.sessionpin.pin}} </h4>
<small> This pin can be used to join the session once it is started. </small><hr/>
{% if not session.status %}
<a href="{% url 'session_activate' session.id %}" class='btn btn-success pl-5 pr-5 mr-4'>  Start  </a>
<button class='btn btn-danger pl-5 pr-5 mr-4' disabled>  End  </button>
{% else %}
<button class='btn btn-success pl-5 pr-5 mr-4' disabled>  Start  </button>
<a href="{% url 'session_deactivate' session.id %}" class='btn btn-danger pl-5 pr-5 mr-4'>  End </a>


{% endif %}
<a href="{% url 'download_log' session.id %}" class="btn btn-warning float-right"> Download Logs </a>

<div id='time_display'>  </div>

<hr/>
<div class='container'>
 <div class='row'>
   <div class='column'>
   <canvas id="group1" width="300" height="400"></canvas>
   </div>
 </div>
</div>
<script>
var ctx = document.getElementById('group1').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['deletion', 'addition'],
        datasets: [{
            label: 'Session stats',
            data: [12, 19],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',

            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>

{% endblock %}
