
{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %} {% endblock %}

{% block content %}
<h2>{{session.name | upper}}</h2>
<h4>Access Pin: {{session.sessionpin.pin}} </h4>
<small> This pin can be used to join the session once it is started. </small><hr/>
{% if not session.status %}
<a href="{% url 'session_activate' session.id %}" class='btn btn-success pl-5 pr-5 mr-4'>  Start  </a>
<button class='btn btn-danger pl-5 pr-5 mr-4' disabled>  End  </button>
{% else %}
<button class='btn btn-success pl-5 pr-5 mr-4' disabled>  Start  </button>
<a href="{% url 'session_deactivate' session.id %}" class='btn btn-danger pl-5 pr-5 mr-4'>  End </a>


{% endif %}
<a href="{% url 'download_log' session.id %}" class="btn btn-warning float-right"> Download Logs </a>

<div id='time_display'>  </div>

<hr/>

<div class='container'>
 <div class='row'>
   {% for g in no_group%}
   <div class='col'>
    <div class="card">

      <div class='card-body'>
        <h4 class='card-title'> Group {{forloop.counter}} </h4>



        <canvas id="group{{forloop.counter}}" width="100%" height="100%"></canvas>
        <br/>
        <a href="{% url 'group_text' session.id forloop.counter %}" class="card-link"><small>Detailed view</small></a>
        <a href="{% url 'group_text' session_id forloop.counter %}" class="card-link"><small>Group answers</small></a>
      </div>
    </div>

   </div>
   {% endfor %}
 </div>
</div>

<script>

  // idea from https://www.geeksforgeeks.org/how-to-make-javascript-wait-for-a-api-request-to-return/
  function makeGetRequest(path) {
      return new Promise(function (resolve, reject) {
          axios.get(path).then(
              (response) => {
                  var result = response.data;

                  console.log('Processing Request');
                  resolve(result);

              },
                  (error) => {
                  reject(error);
              }
          );
      });
  }

async function main() {

for (i in {{no_group}}) {

etherpad_group = '{{eth_group}}';
session_id = {{session.id}};
number = parseInt(i) + 1;
group_pad = etherpad_group + '$' + 'session_' + session_id + '_group_' + number;

// sending ajax request

url = 'http://localhost:8000/getRevCount/'+group_pad;
revisions = 0;


var result = await makeGetRequest(url);






  console.log('function called');
  console.log(result);
  data = result.revisions;
  console.log(data);
//  revisions = data['revisions'];
  console.log('Recieved:' + data);



// ajax request end

console.log(group_pad);
group_label = 'group'+number;
console.log(group_label);
var ctx = document.getElementById(group_label).getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['revisions'],
        datasets: [{
            label: group_label,
            data: [parseInt(data)],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',

            ],
            borderWidth: 1
        }]
    },
    options: {
        legend: {display:false},
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});


}
}
main();
</script>

{% endblock %}
